<div class="col-md-3" style="border: thin lightblue solid; border-radius: 5px;padding: 1em;">
    <form action="" ng-submit="" name="loginDirective" novalidate>
        <h4>Welcome Back</h4>
        <fieldset class="form-group">
            <input type="text" ng-model="" class="form-control" placeholder="Username"  title="Username" required>
        </fieldset>
        <fieldset class="form-group">
            <input type ="text" ng-model="" class="form-control" placeholder="Password" title="Password" required>
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" value="Login"/>
        </fieldset>
    </form>
</div>